@model CarsDetailsVM;


This exclusive @Model.Brand has an astonishing @Model.Doors doors and a top speed of @Model.TopSpeed. How about that, eh?

<a class="backToStart" asp-controller="Cars" asp-action="Index"> << &nbsp; Kör tillbaka till startsidan </a>