@model CarsIndexVM[]
<h3>Here is a list of cars in the system:</h3>
<ul id="carList">
    @foreach (var item in Model)
    {
        <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">
            @if (item.ShowAsFast)
            {
                <li class="fastCar">@item.Brand</li>
            }
            else
            {
                <li class="slowCar">@item.Brand</li>
            }
        </a>
    }
</ul>


